services:
  analyzer:
    build:
      context: .
      dockerfile: Dockerfile.analyzer
    image: bluebird-analyzer:local
    environment:
      ANALYZER_PORT: 8001
      BB_S3_ENDPOINT: http://minio:9000
      BB_S3_ACCESS_KEY: minio
      BB_S3_SECRET: minio123
      BB_BUCKET: bluebird
      BB_LOG_LEVEL: INFO
    ports:
      - "8001:8001"
    networks:
      - bluebird-network

  music:
    build:
      context: .
      dockerfile: Dockerfile.music
    image: bluebird-music:local
    environment:
      MUSIC_PORT: 8002
      BB_S3_ENDPOINT: http://minio:9000
      BB_S3_ACCESS_KEY: minio
      BB_S3_SECRET: minio123
      BB_BUCKET: bluebird
      BB_LOG_LEVEL: INFO
    ports:
      - "8002:8002"
    networks:
      - bluebird-network

  melody:
    build:
      context: .
      dockerfile: Dockerfile.melody
    image: bluebird-melody:local
    environment:
      MELODY_PORT: 8003
      BB_S3_ENDPOINT: http://minio:9000
      BB_S3_ACCESS_KEY: minio
      BB_S3_SECRET: minio123
      BB_BUCKET: bluebird
      BB_LOG_LEVEL: INFO
    ports:
      - "8003:8003"
    networks:
      - bluebird-network

  voice:
    build:
      context: .
      dockerfile: Dockerfile.voice
    image: bluebird-voice:local
    environment:
      VOICE_PORT: 8004
      BB_S3_ENDPOINT: http://minio:9000
      BB_S3_ACCESS_KEY: minio
      BB_S3_SECRET: minio123
      BB_BUCKET: bluebird
      BB_LOG_LEVEL: INFO
    ports:
      - "8004:8004"
    networks:
      - bluebird-network

  similarity:
    build:
      context: .
      dockerfile: Dockerfile.similarity
    image: bluebird-similarity:local
    environment:
      BB_SIMILARITY_PORT: 8005
      BB_S3_ENDPOINT: http://minio:9000
      BB_S3_ACCESS_KEY: minio
      BB_S3_SECRET: minio123
      BB_BUCKET: bluebird
      BB_LOG_LEVEL: INFO
    ports:
      - "8005:8005"
    networks:
      - bluebird-network

networks:
  bluebird-network:
    external: true
